{% extends "base.html" %}
{% block title  %}home page{% endblock %}
{% block content %}
<h1>
   Basic Trouble Shooting
</h1>
<p> 1) Make sure there are no spaces before or after the address <br>
    2) Make sure the address is enterd as such: <br>
    ex: 1600 PENNSYLVANIA AVENUE NW <br> 
    3) Make sure the address is in the DC area<br>
    4) Both street names and types need to be spelled out<br>
    ex: "1600 PENNSYLVANIA AVE NW" would not work but "1600 PENNSYLVANIA AVENUE NW" would 
</p>
{% endblock %}